
nav{
    background-color: #DCDCDC;
    
     margin-top: -11px;
  
}
nav ul{
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    overflow: hidden;
    background-color: 'white';
    align-items: center;
    /* margin-left:460px ; */
}
.dropdown {
    position: relative;
    display: inline-block;}

nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}
li Link:hover {
    background-color: #ecc214;
  }
  li a:hover {
    color: orange;
    font-size: 16px;
    font-weight: bold;
  }
 .active{ 
     background-color: #666;
 color: orange;
    font-size: 16px;
    font-weight: bold; }